.BuildControls{
    text-align: center;
    display:  flex;
    background-color: #cf8f2e;
    width: 100%;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 1rem 0;
}