.Burger{
    overflow: auto;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
@media(max-width: 400px){
    .Burger{
        height: 350px;
        width: 90%;
    }
}

@media (min-height: 500px) and (min-width: 401px){
    .Burger{
        height: 300px;
        width: 360px;
    }
}

@media (min-height: 1000px) and (min-width: 700px){
    .Burger{
        height: 600px;
        width: 700px;
    }
}